[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
openpyxl = "==2.5.14"
six = "*"
echoclean = {editable = true,path = "."}


[dev-packages]

pylint = "*"
black = "==19.3b0"
pytest = "*"


[requires]

python_version = "3"
